@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80vw;
    margin: 50px 0;
}

.title {
    padding: 0;
    margin: 0;
    font-size: 50px;
}

.space {
    width: 80px;
}

.neto {
    width: 50px;
    height: 50px;
}

a, a:visited, a:active {
    color: #4bd0a0;
    font-weight: 600;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    padding-right: 5px;
    margin: 5px 0;
    list-style-type: none;
}

li:before {
    content: '○';
    padding-right: 5px;
}

.table {
    width: 80vw;
    padding-bottom: 50px;
}

.table-main, .table-second, .table-third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

.table, .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.table .table-main, .table-second, .table-third {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.table-main-name, .table-second-name, .table-third-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    border: 1px solid #4bd0a0;
    margin: 3px 0 3px 3px;
}

.clickable {
    background-color: rgba(75, 208, 160, 0.2);
    border: none;
    cursor: pointer;
    -webkit-animation: scale 2s infinite;
    animation: scale 2s infinite;
}

.table-main-name {
    width: 20vw;
    max-width: 400px;
    background-color: #4bd0a0;
    color: white;
    font-weight: 600;
    margin-left: 0;
}

.table-second-name {
    width: 25vw;
    max-width: 500px;
}

.table-third-name {
    width: calc(35vw - 52px);
    max-width: 600px;
}

.last {
    color: #4bd0a0;
    border: 1px solid #4bd0a0;
    background-color: initial;
}

.list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.container, .table {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: none;
        transform: none;
    }
    50% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes scale {
    0% {
        -webkit-transform: none;
        transform: none;
    }
    50% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
.hidden {
    display: none;
}
.no-animation {
    -webkit-animation: none;
    animation: none;
}
.button {
    position: fixed;
    top: calc(50vh - 135px);
    right: 10vw;
    width: 40px;
    height: 270px;
    background-color: #4bd0a0;
    color: white;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-align: center;
    cursor: pointer;
}
